.search-detail{
    background-image: url('../../../assets/BackRoud.png');
    background-size: cover;
    height: 900px;
}
.main-fly-change{
    padding: 5% 30% 5% 30%;
    justify-content: flex-end;
}
.main-service-detail{
    margin: 0% 20% 0 20%;
}
.code-booking-change{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-right: 3%;
    padding-top: 1%;
    font-size: 20px;
    font-weight: 500;
}
@media (max-width:1500px){
    .main-service-detail{
        margin: 0% 10% 0 10%;
    } 
}
@media (max-width:1200px){
    .main-service-detail{
        margin: 0% 8% 0 8%;
    }
}
@media (max-width:992px){
    .main-service-detail{
        margin: 0% 5% 0 5%;
    }
   
}
@media (max-width:768px){
    .main-service-detail{
        margin: 0% 2% 0 2%;
    }
}
@media (max-width:576px){
    .main-service-detail{
        margin: 0% 1% 0 1%;
    }
}