.search-detail{
    background-image: url('../../../assets/BackRoud.png');
    background-size: cover;
    height: 900px;
}
.main-fly-change{
    padding: 5% 30% 5% 30%;
    justify-content: flex-end;
}