.select-fight-infor{
    background-color: white;
    height: auto;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    border-top: 2px dashed  #006885;
}
.date-fight{
    font-size: 16px;
    font-weight: 500;

}
.location-start{
    font-size: 25px;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.time-start{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: grey;
    font-weight: 600;
}
.flight-time{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: grey;
    font-weight: 600;
}
.code-flight{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: black;
    font-weight: 700;
}
.text-title-fight-info{
    color: #006885;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0px 10px 10px;
}
@media (max-width:760px){
    .text-title-fight-info{
        font-size: 15px; 
    }
    .date-fight{
        font-size: 15px;
    }
    .flight-time{
        font-size: 14px;
    }
    
}

@media (max-width:500px){
    .text-title-fight-info{
        font-size: 13px; 
        padding-left: 15% !important;
    }
    
}
