*{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}

/* .box{
    background-color: lightgreen;
    height: 300px;

} */
.box h3{
    text-align: center;
    color: aliceblue;
}
.slick-slide div{
    margin: 0 1rem;
}
.ant-image img {
    max-width: 100%;
    height: auto;
  }
  .img-slide{
    border-radius: 10px;
  }
  .slick-dots li button:before {
    color: #006885 !important;
  }
