.fly-color{
    background-color: #006885;
    height: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.select-flight-info{
    background-color: rgb(222, 240, 223);;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: auto;
    margin-bottom: 20px;
 
}
.name-airline{
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
}
.time-code-fly{
    display: flex;
    justify-content: center;
}
.time-start-fly{
    font-size: 28px;
    font-weight: 500;
    padding-top: 25px;
    padding-left: 5px;
}
.code-start-fly{
    font-size: 20px;
    font-weight: 500;
    color: grey;
    padding-left: 15px;
    
}
.time-to-fly{
    color: grey;
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.name-aircraft-fly{
    color: grey;
    font-size: 15px;
    font-weight: 500;
    padding-top: 2px;
    padding-left: 30px;
}
.fly-ladder{
    color: grey;
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 13px;
    padding-bottom: 10px;
}
.flightName{
    color: grey;
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}
.icon-fly{
    color: gray;
    width: 90px;
   
}
.price-fly{
    color: rgb(255, 94, 31);
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 25px;
}
.img-airline{
   padding: 10px 0px 0px 30px;
   height: 70px;
   width: 130px;
}
.form-time-location{
    border-left: 2px solid gray;
}

.btn-select{
    margin-top: 15%;
    margin-left: 30%;
    height: 40px;
    width: 120px;
    background-color: #006885;
    color: white;
    font-size: 18px;
    font-weight: 600;
    &:hover{
     
        color: white !important;
        border: none !important;
    }
    
}
.title{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #25A006;
}
@media (max-width:1730px){
    .price-fly{
        font-size: 16px;
    }
    .name-aircraft-fly{
        font-size: 15px;
    }
    .time-start-fly{
        font-size: 25px;
    }
    .code-start-fly{
        font-size: 18px;
    }
    .flightName{
        font-size: 15px;
    }
    .fly-ladder{
       font-size: 18px; 
    }
    .time-to-fly{
        font-size: 15px;
    }
    .name-airline{
        font-size: 19px;
    }
    
}
@media (max-width:1200px){
    .price-fly{
        font-size: 16px;
    }
    .name-aircraft-fly{
        font-size: 15px;
    }
    .time-start-fly{
        font-size: 23px;
    }
    .code-start-fly{
        font-size: 17px;
    }
    .flightName{
        font-size: 14px;
    }
    .fly-ladder{
        font-size: 14px; 
     }
     .time-to-fly{
        font-size: 14px;
    }
    .name-airline{
        font-size:18px;
    }
}
@media (max-width:992px){
    .price-fly{
        font-size: 16px;
    }
    .name-aircraft-fly{
        font-size: 14px;
    }
    .time-start-fly{
        font-size: 21px;
    }
    .code-start-fly{
        font-size: 17px;
    }
    .flightName{
        font-size: 13px;
    }
    .fly-ladder{
        font-size: 13px; 
     }
     .time-to-fly{
        font-size: 13px;
    }
    .name-airline{
        font-size: 17px;
    }
}
@media (max-width:768px){
    .price-fly{
        font-size: 14px;
    }
    .name-aircraft-fly{
        font-size: 13px;
    }
    .time-start-fly{
        font-size: 20px;
    }
    .code-start-fly{
        font-size: 17px;
    }
    .flightName{
        font-size: 12px;
    }
    .fly-ladder{
        font-size: 12px; 
     }
     .time-to-fly{
        font-size: 12px;
    }
    .name-airline{
        font-size: 16px;
    }
}
@media (max-width:576px){
    .price-fly{
        font-size: 13px;
    }
    .name-aircraft-fly{
        font-size: 11px;
    }
    .time-start-fly{
        font-size: 18px;
    }
    .code-start-fly{
        font-size: 16px;
    }
    .flightName{
        font-size: 11px;
    }
    .fly-ladder{
        font-size: 11px; 
     }
     .time-to-fly{
        font-size: 11px;
    }
    .name-airline{
        font-size: 15px;
    }
}
