* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
video.myvideo{
    width: 100%; 
    height:910px;
}
.homePage{
    position: relative;
    width: 100%;
    min-height: auto;
    .myvideo{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        display: none;
        @media (min-width: 768px) {
          display: inline-block;
        
        }
    }
    .search{
    
        padding: 5% 30% 5% 30%;
        justify-content: flex-end;
        
        
    }
    .content{
        padding:0 10% 0 10%;
        width: 100%;
    }
    

}
@media (max-width:768px){
    .content{
        background-image: url(../../assets/Backroud.webp);
          justify-content: center;
          width: 100vw;
          height: 100vh;
          background-size: cover;
          align-items: center ;
    }
}


.btn-form{
    display: flex;
    justify-content: center;
    
}
.label-hot{
    width: 200px;
    padding-bottom: 2%;
    
}
.label-img{
    font-size: 20px;
    font-family: 500;
    padding: 0px 20px 0px 20px;
    font-size: 18px;
    align-items: center;
    font-weight: 600;
    color: white;
    background-color: #006885;
    &:hover{
        color: gray !important;
    }
}




